@page
@using TreeStruct.Models
@model TreeStruct.Pages_TreeNodes.IndexModel

@{
    ViewData["Title"] = "Tree structure";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreeNode[0].value)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        @foreach (var rootNode in Model.TreeNode.Where(p => p.TreeNodeID == null))
        {
                await ShowTree(rootNode);
        };
    }
</table>


@functions{
    async Task ShowTree(TreeNode node){
        <tbody>
        <tr>
            <td>
                @node.value
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@node.ID">Edit node</a> |
                <a asp-page="./Add" asp-route-id="@node.ID">Add child node</a> |
                <a asp-page="./Delete" asp-route-id="@node.ID">Delete node</a>
            </td>
        </tr>
        @if (node.children.Any())
        {
            <tr>
                <td colspan="2">
                    <table class="table">
                        <tbody>
                            @foreach (var child in node.children)
                            {
                                await ShowTree(child);
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    }
}