@page
@using TreeStruct.Models
@using System.Text
@using Newtonsoft.Json
@model TreeStruct.Pages_TreeNodes.IndexModel

@{
    ViewData["Title"] = "Tree structure";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <form method="post">
                    <input type="hidden" name="fold" value="foldAll" />
                    <input type="submit" value="Fold All" />
                </form>
                <form method="post">
                   <input type="hidden" name="fold" value="expandAll" />
                   <input type="submit" value="Expand All" />
               </form>
            </th>
            <th>
            </th>

        </tr>
    </thead>
    @{
        @foreach (var rootNode in Model.TreeNode.Where(p => p.TreeNodeID == null))
        {
                await ShowTree(rootNode);
        };
    }
</table>


@functions{

    bool IsExtended(TreeNode node)
    {
        var foldState = HttpContext.Session.Get("Expand") ?? new byte[0];
        var foldDict = new Dictionary<int, bool>();
        if (foldState.Length != 0)
        {
            foldDict = JsonConvert.DeserializeObject<Dictionary<int, bool>>(Encoding.ASCII.GetString(foldState)) ?? new Dictionary<int, bool>();
        }
        
        

        bool nodeState = false;

        if (foldDict.TryGetValue(-1, out nodeState))
        {
            if (nodeState == true)
            {
                return true;
            }
        }
        
        foldDict.TryGetValue(node.ID, out nodeState);

        return nodeState;
    }

    async Task RenderCollapseButton(TreeNode node)
    {
        if (node.children.Any())
        {
            <a asp-page="./Index" asp-route-id="@node.ID" asp-page-handler="fold">@(IsExtended(node) ? "Collapse" : "Expand")</a>
            @(" | ")
        }
    }
    
    async Task ShowTree(TreeNode node){
        <tbody>
        <tr>
            <td>
                @node.value 
                (
                @node.children.Count()
                )
            </td>
            <td>
                @{await RenderCollapseButton(node);}
                <a asp-page="./Edit" asp-route-id="@node.ID">Edit node</a> |
                <a asp-page="./Add" asp-route-id="@node.ID">Add child node</a> |
                <a asp-page="./Delete" asp-route-id="@node.ID">Delete node</a>
            </td>
        </tr>
        @if (node.children.Any() && IsExtended(node))
        {
            <tr>
                <td colspan="2">
                    <table class="table">
                        <tbody>
                            @foreach (var child in node.children)
                            {
                                await ShowTree(child);
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    }
}